@import url("./something.css");

header {
  padding: 10px;
  display: flex;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
}

header div img {
  max-height: 200px;
  margin-right: 100px;
}

header div a {
  margin: 80px;
  font-size: small;
  font-family: "Times New Roman", Times, serif;
  align-items: center;
}
